<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather API</title>
</head>
<body>
    <nav>
        
    </nav>
    <h1>Weather Data API</h1>
    <h2>Historical weather data API. Enter URL in the format given below</h2>
    <p>Only first 100 station codes active due to space limitations</p>
    <p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
    <p>URL example: http://127.0.0.1:5000/api/v1/10/1988-10-25</p>
    <p>URL example to get all data for one station: http://127.0.0.1:5000/api/v1/10</p>
    <p>URL exampleto get all data for one station for one year: http://127.0.0.1:5000/api/v1/yearly/10/1988</p>
    <p>See below for station codes</p>
    <p>{{data|safe}}</p>

</body>
</html>